/* style.css */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #000000;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* Center the navbar */
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    /* Adjust the spacing between menu items */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #ff66cc;
    /* Add hover effect */
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#search-input-number {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#search-input-name {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#search-form {
    display: flex;
    align-items: center;
}

.search-button-container button {
    display: flex;
    justify-content: center;
    background-color: #ff66cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#search-form button {
    background-color: #ff66cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #d62bbf;
    /* Add hover effect */
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-container select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-container button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap into multiple rows */
    justify-content: center;
    /* Center the cards */
}

.card {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    /* Adjust the spacing between cards */
    width: 250px;
    /* Set card width */
    display: flex;
    flex-direction: column;

}

.card img {
    width: 100%;
    /* Make the image fill the card */
    height: auto;
    /* Set height to auto to maintain aspect ratio */
    object-fit: contain;
    /* Adjust object-fit property as needed */
    margin-bottom: 10px;
    /* Add space below the image */
}

.card h4 {
    text-transform: capitalize;
    font-size: 16px;
}

.rating-image {
    width: 10%;
    display: flex;
    flex-direction: row;
    padding: 1px;
    /* Mengatur lebar gambar rating menjadi 10% dari lebar gambar produk */
}

.product-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.button {
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #ff3399;
    /* Add hover effect */
}

.shopping-button {
    width: 15%;
    align-items: center;
    height: 40px;
    /* Mengatur lebar tombol belanja menjadi 1/4 dari lebar gambar produk */
}


.saran-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.saran-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.saran-form button {
    background-color: #ff66cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saran-form button:hover {
    background-color: #ff3399;
    /* Add hover effect */
}

@media (max-width: 600px) {
    .card {
        width: 50%;
    }

    #product-list {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
}